/ {
    combos {
        compatible = "zmk,combos";

        // Press both inner thumbs to toggle Gaming Mode
        combo_gaming_toggle {
            timeout-ms = <50>;
            key-positions = <31 32>;
            bindings = <&tog 5>;
        };

        // J + K (Graphite H + A) for Escape
        combo_esc {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp ESC>;
        };
    };
};
